* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Nunito',Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}



/* ----- NAVBAR ----- */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d380;
    height: 70px;
    padding: 0px 40px;
    
    font-weight: bold;
}

.navlinks {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px, 30px;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: black;
}

.secondary-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    height: 70px;
    padding: 0px 40px;
    list-style: none;
    
    font-weight: bold;
}

.attention {
    color: #ff764d;
}

.call-to-action {
    color: #0000ff;
}

/* ----- HERO IMAGE ----- */

.hero-img {
   
    height: 86vh;
    width: 80vw;
    background: url(imgs/header.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.branding {
    color: #ff764d;
    font-size: 9rem;
    font-weight: normal;
}

/* ----- CONTENT ----- */
iframe {
    margin: 0 auto;
    display: block;
}

.content {
    width: 50vw;
    margin: 0 auto;
    padding: 7rem;
}

.main-content {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: .5rem;
}

.secondary-content {
    padding: .5rem;
}

.stonks {
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
} 

/* ----- COLLAGE ----- */
.collage {
    position: relative;
}

.collage-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.yellow-block {
    height: 50vw;
    width: 55vw;
    background-color: #fbffa7;
    margin-left: auto;
}

.green-block {
    height: 75vw;
    width: 60vw;
    background-color: #b6ffc0;
}

.purple-block {
    height: 58vw;
    width: 67vw;
    background-color: #d5b3ff;
    margin: 0 auto;
}

.first-pic {
    height: 42vw;
    width: 42vw;
    background-image: url(imgs/pexels-photo-4474033.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 10vw;
}

.second-pic {
    height: 25vw;
    width: 33vw;
    background-image: url(imgs/blurry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 13vw;
    right: 5vw;
}

.pic-three {
    height: 25vw;
    width: 33vw;
    background-image: url(imgs/whiteboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 5vw;
}

.pic-four {
    height: 25vw;
    width: 33vw;
    background-image: url(imgs/business.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:40vw;
    left: 5vw;
}

.pic-five {
    height: 42vw;
    width: 42vw;
    background-image: url(imgs/studio.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 16vw;
    right: 5vw;
}

.pic-six {
    height: 25vw;
    width: 35vw;
    background-image: url(imgs/pic-six.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 18vw;
    left: 8vw;
}

.pic-seven {
    height: 40vw;
    width: 40vw;
    background-image: url(imgs/pic-seven.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 10vw;
    right: 8vw;
}